.forgot-password-page {
    background: url('http://swlabs.co/madmin/code/images/bg/2.jpg') center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 5px;
    height: 1000px;
}
.forgot-password-page h1 {
    color: #00a775;
}
.forgot-password-page a {
    color: #00a775 !important;
}

