<div  class="forgot-password-page">
    <div class="page-form">
        <form class="form">
            <div class="header-content">
                <h1>Reset Password</h1>
            </div>
            <div class="body-content">
                <div class="form-group">
                        <div class="input-icon right"><i class="fa fa-user"></i>
                        <label for="reset.password.username"  ng-model="vm.username">Username</label>
                        <input type="text" class="form-control" id="reset.password.username" ng-model="vm.username">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" ng-click="vm.sendPassword()"  class="form-control">Send Password to email <i class="glyphicon glyphicon-send"></i> </button>
                </div>
            </div>
        </form>
    </div>
</div>