<div  class="forgot-password-page">
    <div class="page-form">
        <form class="form">
            <div class="header-content">
                <h1>Create a new password</h1>
            </div>
            <div class="body-content">
                <div class="form-group">
                        <div class="input-icon right"><i class="fa fa-user"></i>
                        <label for="reset.password.username"  ng-model="vm.username">Username</label>
                        <input type="text" class="form-control" id="reset.password.username" ng-model="vm.username">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-icon right"><i class="fa fa-key"></i>
                        <label for="reset.password.password">New Password</label>
                            <input type="password" class="form-control" id="reset.password.password"  ng-model='vm.password'>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-icon right"><i class="fa fa-key"></i>
                        <label for="reset.password.confirm.password">Confirm Password</label>
                            <input type="password" class="form-control" id="reset.password.confirm.password"  ng-model='vm.passwordConfirm'>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" ng-click="vm.createNewPassword()"  class="form-control"> <i class="fa fa-plus-circle"></i> Create new password </button>
                </div>
                <div class="form-group">
                    <div class="alert alert-error"><strong>{{vm.errorMessage}}</strong></div>
                </div>
            </div>
           
                
            </div>
        </form>
    </div>
</div>