<div>
    <table class="table table-responsive table-striped table-bordered">
        <thead>
        <tr>
            <th ng-repeat='row in vm.header track by $index' ng-click="vm.setActiveSymbol(row)">
                <span>{{row}} </span>
                <span ng-show='vm.activeSortSymbol[row]'>
                      <span ng-show='vm.ascend' class="glyphicon glyphicon-menu-down"></span>
                      <span ng-hide='vm.ascend' class="glyphicon glyphicon-menu-up"></span>
                </span>
            </th>
            <td>Action</td>

        </tr>
        </thead>
        <tbody>

        <tr ng-repeat='data in vm.body'>
            <td ng-repeat="row in data track by $index"> {{row}}</td>

            <td>
                    <span ng-if="(vm.customEditName !== 'null' )" class="btn btn-default" ng-click="vm.actionEdit[$index]()">
                        <span class="glyphicon glyphicon-pencil"></span>
                        {{vm.customEditName}}
                    </span>
                    <span ng-if="(vm.customDeletetName != 'null')" class="btn btn-danger" ng-click="vm.actionDelete[$index]()">
                         <span class="glyphicon glyphicon-trash"> </span>
                        {{vm.customDeleteName}}
                    </span>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-4">
            <ul id="pagination" class="pagination">
                <li ng-class="vm.activeItem[i]" ng-repeat="i in vm.pagination"><a href="#"
                                                                                  ng-click="vm.actionPageButton[$index]()">{{i}}</a>
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <form class="form form-inline">
                <label for="select">View</label>
                <select id="select" class="form-control" ng-model="vm.amountRecord"
                        ng-options="item for item in vm.amountRecordArray" ng-change="vm.actionAmountOption()">
                </select>
                <label for="select">Recodes</label>
            </form>

        </div>
    </div>


</div>