thead {
    background-color: #0c7d66;
    color: white;
}
.pagination {
    margin: 0  !important;

}
.pagination li.active a {
    color: #FFFFFF;
    background: #0c7d66 !important;
    z-index: 2;
    cursor: default;
    border-color: #0c7d66 !important;

}
.pagination li.active a:hover,
.pagination li.active a:focus {
    color: #FFFFFF;
    background: #0c7d66;
    z-index: 2;
    cursor: default;
}
.pagination li.active span {
    color: #FFFFFF;
    background: #0c7d66;
    z-index: 2;
    cursor: default;
}
.pagination li.active span:hover,
.pagination li.active span:focus {
    color: #FFFFFF;
    background: #0c7d66;
    z-index: 2;
    cursor: default;
}
.pagination li a {
    color: #0c7d66;
}